<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="chat-title">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding chat-content" [scrollEvents]="true" #content>
  <div *ngFor="let msg of messages" [ngClass]="{'my-message': msg.user_id === supabase.currentUser.value?.id, 'other-message': msg.user_id !== supabase.currentUser.value?.id}">
    <div class="message-bubble">
      <div class="message-user">{{ msg.username || msg.user_id }}</div>
      <div class="message-text">{{ msg.content }}</div>
      <div class="message-time">{{ msg.inserted_at | date:'shortTime' }}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input
        placeholder="Escribe un mensaje..."
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
        clearInput
      ></ion-input>
      <ion-button (click)="sendMessage()" color="primary">Enviar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
